html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.center {
    display: flex;
    justify-content: center;
}

.value {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 1rem;
}

.transfer-form > * {
    margin-bottom: 2rem !important;
}

.code-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem
}

.filter-form {
    display: grid;
}